@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}

/* 吹き出しのスタイル */
        .tooltip {
            position: absolute;
            padding: 8px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            display: none;
            z-index: 5;
        }