/*コメント区切り線の設定
.break{
    border: 2px solid #A4C6FF;     
    display: inline-block;
    padding: 0.25em 0.5em;
    position: relative;
}
.break:before,
.break:after{
    border-bottom: 2px solid #A4C6FF;
    content: '';
    margin: 0 3px;
    position: absolute;
    top: 50%;
    width: 100vw;
}
.break:before{
    right: 100%;
}
.break:after{
    left: 100%;
}
*/

.thread{
   background-color:#A4C6FF;
}
.comment{
   padding: 20px;
   text-align:  center; 
}
.body{
   padding-left:20px;
}